<footer>
    <div class="container-md">
        <div class="row">
            <p>© 2020 <strong>SamuLabs</strong> - Todos os direitos reservados</p>
            <ul class="row px-5 mx-5">
                <li class="mx-3" style="list-style-type: none;"><a href="https://gitlab.com/samucamp/ceca-2020-tcc-samuel/-/blob/master/README.md">Readme</a></li>
                <li class="mx-3" style="list-style-type: none;"><a href="https://gitlab.com/samucamp/ceca-2020-tcc-samuel/-/blob/master/CONTRIBUTING.md">Contributing</a></li>
                <li class="mx-3" style="list-style-type: none;"><a href="https://gitlab.com/samucamp/ceca-2020-tcc-samuel/-/blob/master/LICENSE">License</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>

</html>