<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="LABORATÓRIO VIRTUAL E REMOTO PARA ENSINO DE CONTROLE DE PROCESSOS UTILIZANDO RASPBERRY PI E NODEJS">
    <meta name="keywords" content="Laboratório Virtual, IoT, Node, Rapsberry Pi, Controle de Processos">
    <meta name="author" content="Samuel Martins Peres">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Scripts -->
    <script src='/scripts/main.js'></script>

    <title>
        <%= pageTitle %>
    </title>
</head>

<body>