<nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
            <a class="navbar-brand" href="/">           </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav px-5">
                    <a class="nav-item nav-link <%= path === '/' ? 'active' : '' %> px-3" href="/">Início</a>
                    <a class="nav-item nav-link <%= path === '/article' ? 'active' : '' %> px-3"
                        href="/article">Artigo</a>
                    <!--
                        <a class="nav-item nav-link <%= path === '/theory' ? 'active' : '' %> px-3"
                            href="/theory">Teoria</a>
                    -->
                    <a class="nav-item nav-link <%= path === '/simulation' ? 'active' : '' %> px-3"
                        href="/simulation">Simulação</a>
                    <!--
                        <a class="nav-item nav-link <%= path === '/control' ? 'active' : '' %> px-3"
                            href="/control">Planta</a>
                    --><!--
                    <a class="nav-item nav-link <%= path === '/documentation' ? 'active' : '' %> px-3"
                        href="/documentation">Documentação</a>
                    --><!--
                    <a class="nav-item nav-link <%= path === '/about' ? 'active' : '' %> px-3" href="/about">Sobre</a>
                    -->
                </div>
            </div>
        </div>
    </nav>
</nav>