@font-face {
    font-family: 'FiraCode-Bold';
    src: url(../fonts/FiraCode-Bold.ttf);
    font-style: normal;
    font-size: 40px;
}

@font-face {
    font-family: 'FiraCode-Retina';
    src: url(../fonts/FiraCode-Retina.ttf);
    font-style: normal;
    font-size: 40px;
}

@font-face {
    font-family: 'FiraCode-Light';
    src: url(../fonts/FiraCode-Light.ttf);
    font-style: normal;
    font-size: 40px;
}

$font-title: FiraCode-Bold;
$font-interface: FiraCode-Retina;
$font-footer: FiraCode-Light;