@import "colors";
@import "fonts";
@import "navbar";
@import "footer";
@import "sliders";

#header {
  font-size: 46px;
  color: #4b4b4b;
}

#paragraph {
  font-size: 20px;
  color: #4b4b4b;
}

img {
  margin: 5px;
  /*border: 1px solid #ccc;*/
  width: 100%;
  height: auto;
}

footer {
  background-color: #d2d2d3d0;
  padding-top: 15px;
}

section div form {
  margin: 200px 300px 300px 200px;
}
