<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<section>
    <div class="container-md secondary-color my-3">
        <img src="images/maintenance.jpg" alt="samulabs-maintenance">
    </div>
</section>

<%- include('../includes/footer.ejs') %>