@font-face {
  font-family: "FiraCode-Bold";
  src: url(../fonts/FiraCode-Bold.ttf);
  font-style: normal;
  font-size: 40px;
}
@font-face {
  font-family: "FiraCode-Retina";
  src: url(../fonts/FiraCode-Retina.ttf);
  font-style: normal;
  font-size: 40px;
}
@font-face {
  font-family: "FiraCode-Light";
  src: url(../fonts/FiraCode-Light.ttf);
  font-style: normal;
  font-size: 40px;
}
div.slider {
  text-align: center;
  margin-top: 50px;
  background: #50d0a0;
}
div.slider input[type=range] {
  -webkit-appearance: none;
  width: 80%;
}
div.slider input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
div.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -12px;
}
div.slider input[type=range]:focus {
  outline: none;
}
div.slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

#header {
  font-size: 46px;
  color: #4b4b4b;
}

#paragraph {
  font-size: 20px;
  color: #4b4b4b;
}

img {
  margin: 5px;
  /*border: 1px solid #ccc;*/
  width: 100%;
  height: auto;
}

footer {
  background-color: #d2d2d3d0;
  padding-top: 15px;
}

section div form {
  margin: 200px 300px 300px 200px;
}

/*# sourceMappingURL=main.css.map */
