<!-- 

<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<div class="container-md">
    <div class="slider">
        <input type="range" id="inputSlider" min="0" max="255" value="50" step="1" oninput="showValue(this.value)" />

        <br><span id="outputText">50</span><br>
    </div>
</div>
<br>

<div class="container-md">
    <form class="rgb">
        <div>
            <label for="red">Red</label>
            <input type="number" name="red" id="red" min="0" max="255" value="255">
        </div>
        <div>
            <label for="green">Green</label>
            <input type="number" name="green" id="green" min="0" max="255" value="255">
        </div>
        <div>
            <label for="blue">Blue</label>
            <input type="number" name="blue" id="blue" min="0" max="255" value="0">
        </div>
        <button type="submit" name="rgb">Send</button>
    </form>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="/scripts/control.js"></script>

<%- include('../includes/footer.ejs') %>


-->