<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<section>
    <div class="container-md my-5 py-5">
        <div class="row">
            <div class="col my-3 p-5">
                <h1 id="header">Entenda o projeto.</h1>
                <p id="paragraph">Navegue pela artigo referente ao projeto, para entender o problema apresentado e objetivos propostos.</p>
                <a class="btn btn-dark" href="/article" role="button">Quero aprender!</a>
            </div>
            <div class="col my-3 p-5">
                <img src="images/pid-block.png" alt="samulabs-pid">
            </div>
        </div>
    </div>
    <div class="bg-dark py-5">
        <div class="container-sm">
            <div class="row">
                <div class="col my-3 p-5">
                    <img src="images/festo-mps-pa.jpg" alt="samulabs-planta">
                </div>
                <div class="col my-3 p-5">
                    <h1 id="header" style="color:#ffffff;">Realize simulações e testes com a planta virtual.</h1>
                    <p id="paragraph" style="color:#ffffff;">Já pensou na possibilidade de aprender controle de
                        processos na prática sem precisar de acessar laboratórios e plantas de controle presencialmente?</p>
                    <a class="btn btn-light" href="/simulation" role="button">Vamos praticar!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md my-5 py-5">
        <div class="row">
            <div class="col my-3 p-5">
                <h1 id="header">Entenda como foi desenvolvido o projeto.</h1>
                <p id="paragraph">Acompanhe nossa documentação para verificar códigos de programação e metodologias utilizadas (será redirecionado para plataforma Gitlab).</p>
                <a class="btn btn-dark" href="https://gitlab.com/samucamp/ceca-2020-tcc-samuel" role="button">Documentação</a>
            </div>
            <div class="col my-3 p-5">
                <img src="images/rpi_4.jpg" alt="samulabs-pid">
            </div>
        </div>
    </div>
</section>

<%- include('../includes/footer.ejs') %>