<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>

        <div class="jumbotron">
            <h1 class="display-8">Malha de Controle PID</h1>
            <p class="lead">Realize simulação de modelos de processo utilizando controlador PID.</p>
            <hr class="my-4">
            <p>Será possível alterar a função de transferência do processo ser simulado, e parâmetros de um controlador
                PID. </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/simulation/generic" role="button">Start</a>
            </p>
        </div>


        <div class="jumbotron">
            <h1 class="display-8">Planta de Pressão</h1>
            <p class="lead">Realize testes em uma Planta de Pressão.</p>
            <hr class="my-4">
            <p>Será possível praticar técnicas de modelagem de processos e projeto de controladores.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/simulation/level" role="button">Start</a>
            </p>
        </div>

        <!--  
        <div class="jumbotron">
            <h1 class="display-8">Planta Real</h1>
            <p class="lead">Realize testes em uma Planta Real.</p>
            <hr class="my-4">
            <p>Será possível praticar técnicas de modelagem de processos e projeto de controladores.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/simulation/real" role="button">Start</a>
            </p>
        </div>
        -->
        
        <%- include('../includes/footer.ejs') %>