<%- include('../includes/head_simulation.ejs') %>

<%- include('../includes/navigation.ejs') %>

<body>
    <div class="jumbotron">
        <p class="lead">Simulação de Malha de Controle em tempo real</p>
        <canvas id="myChart" width="1200" height="400"></canvas>
        <hr>
        <form class="startProcess">
            <div style="float: left; padding-right: 20px;">
                <label for="loop">Malha Aberta</label>
                <input type="radio" name="loop" id="loop" value="open"><br>
            </div>
            <div>
                <label for="loop">Malha Fechada</label>
                <input type="radio" name="loop" id="loop" value="closed" checked><br>
            </div>
            <hr>
            <div>
                <div>
                    <label for="setpoint">Setpoint</Label>
                    <input type="text" name="setpoint" id="setpoint" value="5">
                </div>
                <div>
                    <label for="KP">KP</Label>
                    <input type="text" name="KP" id="KP" value="3">
                </div>
                <div>
                    <label for="KI">KI</Label>
                    <input type="text" name="KI" id="KI" value="6">
                </div>
                <div>
                    <label for="KD">KD</Label>
                    <input type="text" name="KD" id="KD" value="1.5">
                </div>
                <div>
                    <label for="numerador">Numerador</label>
                    <input type="text" name="numerador" id="numerador" value="1">
                </div>
                <div>
                    <label for="denominador">Denominador</label>
                    <input type="text" name="denominador" id="denominador" value="1, 2, 1">
                </div>
            </div>
            <hr>
            <div>
                <div>
                    <label for="disturbio">Disturbio</Label>
                    <input type="text" name="disturbio" id="disturbio" value="0">
                </div>
                <div>
                    <label for="limitesuperior">Limite Superior SC</label>
                    <input type="text" name="limitesuperior" id="limitesuperior" value="20">
                </div>
                <div>
                    <label for="limiteinferior">Limite Inferior SC</label>
                    <input type="text" name="limiteinferior" id="limiteinferior" value="-20">
                </div>
            </div>
            <hr>
            <button type="submit" name="step" style="float: left;">Start</button>
        </form>
        <form class="stopProcess" style="float: left;">
            <button type="submit" name="stop">Stop</button>
        </form>
        <form class="restartProcess" style="float: left;">
            <button type="submit" name="restart">Restart</button>
        </form>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Chart.js bundle minified (includes Moment.js ) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"
        integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA=="
        crossorigin="anonymous"></script>

    <!-- Socket.io bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"
        crossorigin="anonymous"></script> 

    <!-- Scripts -->
    <script src="/scripts/socket.io.min.js"></script>
    <script src="/scripts/chartjs.js"></script>
    <script src="/scripts/clientGeneric.js"></script>
    
    <%- include('../includes/footer.ejs') %>