<div>
    <form>
        <div>
            <label for="numerador">Numerador</label>
            <input type="text" name="numerador" id="numerador" value="1">
        </div>
        <div>
            <label for="denominador">Denominador</label>
            <input type="text" name="denominador" id="denominador" value="1,1">
        </div>
        <button type="submit">Step</button>
    </form>
    <div id="chart_div"></div>
    <button id="limpar">Limpar</button>
    <button id="novo">Novo</button>
</div>